.idea
.history
.DS_Store
.nyc_output/
.vscode
.wasaby-cli-store
*.log
/node_modules
/application
/builder-ui
/build-ui
/builderCfg.json
/package-lock.json
/artifacts
/tsconfig.json
/tslib.js
/tslint.json
builderConfig.json
wasabyGlobalTypings.d.ts
/wasaby-cli_artifacts
/wasabyGlobalTypings.d.ts
/tailwind.config.js
/**/tsconfig.json
/**/tsconfig.normalized.json
/.eslintrc.js
/.stylelintrc.js
.stylelintignore
pnpm-lock.yaml
/.prettierrc.js
.prettierignore