/* stylelint-disable-next-line selector-max-type */
body {
   background: #252525;
   color: #af5b04;
}

.limitedDemo {
   display: flex;
   flex-direction: column;
}

.limitedDemo__row {
   display: flex;
   flex-direction: column;
}

.limitedDemo__loaded {
   color: #1aff8d;
}

.limitedDemo__nested {
   margin: 1em;
}

.limitedDemo__counter {
   font-size: 2em;
   font-weight: 800;
   align-self: center;
}

.limitedDemo__button {
   background: #414141;
   border: 1px solid #af5b04;
   height: 2em;
   color: var(--contrast_text-color);
   cursor: pointer;
   margin: 0.5em 0;
   padding: 0.2em;
}

.limitedDemo__button:hover {
   border: 1px solid #af0404;
}

.limitedDemo__info {
   margin: 0.25em;
}

.limitedDemo__info__addition {
   margin-left: 1em;
}

.limitedDemo__info__bordered {
   padding: 0.25em;
   border: 2px solid #af5b04;
}
