.item {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.item-checkbox {
  margin-right: 4px;
}
.item-caption {
  margin-right: 4px;
}
.item-caption__checked {
  text-decoration: line-through;
}
.item-button {
  padding: 4px;
}
