.logger {
  width: 500px;
  padding: 8px;
  border: 1px solid black;
  height: 300px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;

  span {
    margin-right: 6px;
  }

  div {
    margin-bottom: 8px;
    white-space: pre;
  }
}
